<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../public/js/script.js"></script>

  <title>Mon projet</title>
  
</head>
<body>
<% include navbar%>	

        <ul class="nav nav-tabs" id='menuMarche'>


                <li class="active"><a data-toggle="tab" href="#plantain">Bananes plantains</a></li>
                <li><a data-toggle="tab" href="#riz">Riz</a></li>
                <li><a data-toggle="tab" href="#epice">Epices</a></li>
                <li><a data-toggle="tab" href="#tubercule">Tubercules</a></li>
                <li><a data-toggle="tab" href="#feuille">Feuilles</a></li>
                <li><a data-toggle="tab" href="#legume">Legumes</a></li>
                <li><a data-toggle="tab" href="#poisson">Poissons</a></li>
                <li><a data-toggle="tab" href="#crustace">Crustaces</a></li>
                <li><a data-toggle="tab" href="#viande">Viandes</a></li>
                <li><a data-toggle="tab" href="#huile">Huiles</a></li>
                <li><a data-toggle="tab" href="#farine">Farines</a></li>
                <li><a data-toggle="tab" href="#fruit">Fruits</a></li>
              </ul>

              <div class="tab-content">

                     
    
                <div id="plantain" class="tab-pane fade in active">
                    <h3>BANANES PLANTAINS</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <small class="dh">500FCFA</small>

                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="..." alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">Card title</h5>
                                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="..." alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="..." alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">Card title</h5>
                                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="..." alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">Card title</h5>
                                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                  
                </div>
                <div id="riz" class="tab-pane fade">
                    <h3>RIZ</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/rizG.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">RIZ GBAGBO</h5>
                                <p class="card-text">Riz gros grains et parfumé.</p>
                                <small class="dh">500FCFA</small>

                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/riziere.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">RIZ RIZIERE</h5>
                                      <p class="card-text">Riz long grains facile à cuire et bon goût.</p>
                                      <small class="dh">500FCFA</small>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/rizlocal.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">RIZ LOCAL</h5>
                                          <p class="card-text">Riz très bon, doux simple et encore plus doux avec de l'accompagnement.</p>
                                          <small class="dh">500FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/meme.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">RIZ MEME</h5>
                                    <p class="card-text">Riz long grains facile à cuire et bon goût.</p>
                                    <small class="dh">500FCFA</small>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/maman.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">RIZ MAMAN</h5>
                                          <p class="card-text">Super riz bien parfumé et très bon.</p>
                                          <small class="dh">500FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/uncle.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">RIZ UNCLE SAM</h5>
                                              <p class="card-text">Riz très excellent et très bon.</p>
                                              <small class="dh">500FCFA</small>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="epice" class="tab-pane fade">
                    <h3>EPICES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/pimentSec.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">PIMENT SEC</h5>
                                <p class="card-text">Très bon piment venu tout droit des champs.</p>
                                <small class="dh">200FCFA</small>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/pimentPoudre.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">PIMENT POUDRE</h5>
                                      <p class="card-text">Sent très bon parfume et épice bien la sauce.</p>
                                      <small class="dh">200FCFA</small>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/poivrePoudre.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">POIVRE EN POUDRE</h5>
                                          <p class="card-text">Poivre noir très puissant et naturel.</p>
                                          <small class="dh">200FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/poivreG.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">POIVRE EN GRAIN</h5>
                                    <p class="card-text">aussi bon que celui en poudre car c'est de lui qu'on obtient la poudre.</p>
                                    <small class="dh">500FCFA</small>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/gingimbre.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">GINGEMBRE</h5>
                                          <p class="card-text">Très frais et très juteux.</p>
                                          <small class="dh">200FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/gingembreP.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">GINGEMBRE EN POUDRE</h5>
                                              <p class="card-text">Naturel et frais.Très très bon...</p>
                                              <small class="dh">500FCFA</small>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="tubercule" class="tab-pane fade">
                    <h3>TUBERCULES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/pomme.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">POMME DE TERRE</h5>
                                <p class="card-text">100% naturel, sans produit venu tout droit du village.</p>
                                <small class="dh">300FCFA</small>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/igname.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">IGNAME</h5>
                                      <p class="card-text">Qualité supérieur...</p>
                                      <small class="dh">300FCFA</small>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/mac.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">MANIOC</h5>
                                          <p class="card-text">Frais et très sucré...</p>
                                          <small class="dh">300FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/taro.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">TARO</h5>
                                    <p class="card-text">Venu du village, vraiment très bon..</p>
                                    <small class="dh">300FCFA</small>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/patate.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">PATATE</h5>
                                          <p class="card-text">Tres frais et bien sucré...</p>
                                          <small class="dh">300FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                    </div>
                        </div>
                </div>
                <div id="feuille" class="tab-pane fade">
                    <h3>FEUILLES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/feuillePatate.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">FEUILLE DE PAPTATE</h5>
                                <p class="card-text">Feuille très fraiche..</p>
                                <small class="dh">200FCFA</small>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/Fdah.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">FEUILLE DE DAH</h5>
                                      <p class="card-text">Feuille très fraiche..</p>
                                      <small class="dh">200FCFA</small>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/Fmanioc.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">FEUILLE DE MANIOC</h5>
                                          <p class="card-text">Feuille très fraiche..</p>
                                          <small class="dh">200FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/menthe.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">FEUILLE DE MENTHE</h5>
                                    <p class="card-text">Feuille très fraiche..</p>
                                    <small class="dh">200FCFA</small>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/feuillePatate.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">FEUILLE DE TARO</h5>
                                          <p class="card-text">Feuille très fraiche..</p>
                                          <small class="dh">200FCFA</small>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/fbf.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">FEUILLE DE BISSAP</h5>
                                              <p class="card-text">Donne du jus bien foncé...</p>
                                              <small class="dh">200FCFA</small>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="legume" class="tab-pane fade">
                    <h3>LEGUMES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/pimentF.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">PIMENT FRAIS</h5>
                                <p class="card-text">Sent très bon...</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/oignonB.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">OIGNON BLANC</h5>
                                      <p class="card-text">Frais et juteux...</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/oignonVB.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">OIGNON BLANC</h5>
                                          <p class="card-text">Rare mais tres bon...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/oigon.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">OIGNON VIOLET</h5>
                                    <p class="card-text">Super bon et très parfumeur...</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/choux.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">CHOUX</h5>
                                          <p class="card-text">Choux naturel...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/tomateB.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">TOMATE BOULE</h5>
                                              <p class="card-text">Naturellement bon pour tout type de plat..</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="poisson" class="tab-pane fade">
                    <h3>POISSON</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/capitaine.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">CARPE FRAIS</h5>
                                <p class="card-text">Goût très special car poisson de haute qualité..</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/capitaine1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">POISSON CAPITAINE</h5>
                                      <p class="card-text">Très bon poisson...</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/marquereau.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">MARQUEREAU FRAIS</h5>
                                          <p class="card-text">Très très bon...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/marquereauF.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">MARQUEREAU FUME</h5>
                                    <p class="card-text">Très très bon...</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/capitaine.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">CAPITAINE</h5>
                                          <p class="card-text">Très très bon...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/brochetF.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">BROCHET FUME</h5>
                                              <p class="card-text">Très doux vraiment...</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="crustace" class="tab-pane fade">
                    <h3>CRUSTACES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/crevetteF2.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">CREVETTE FUME</h5>
                                <p class="card-text">Parfume et donne un très bon goût aux plats..</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/crevette1.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">CREVETTE</h5>
                                      <p class="card-text">Parfume et donne un très bon goût aux plats..</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/crabeF.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">CRABE FUME</h5>
                                          <p class="card-text">Parfume et donne un très bon goût aux plats..</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/crabe.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">CRABE FRAIS</h5>
                                    <p class="card-text">Parfume et donne un très bon goût aux plats..</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/langouste.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">LANGOUSTE</h5>
                                          <p class="card-text">Parfume et donne un très bon goût aux plats..</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/escargot.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">ESCARGOT</h5>
                                              <p class="card-text">Parfume et donne un très bon goût aux plats..</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="viande" class="tab-pane fade">
                    <h3>VIANDES FRAICHES ET FUMEES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/boeufF.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">BOEUF</h5>
                                <p class="card-text">Chaire très tendre...</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/fumeeB.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">BOEUF FUME</h5>
                                      <p class="card-text">Chaire très tendre et donne un goût agréable à la nourriture..</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/gigotMouton.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">VIANDE DE MOUTON</h5>
                                          <p class="card-text">Chaire très tendre...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/brousseRat.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">RAT DE BOUSSE</h5>
                                    <p class="card-text">Goût très original..</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/pangolin.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">PANGOLIN</h5>
                                          <p class="card-text">Chaire très tendre...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/peauB.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">PEAU</h5>
                                              <p class="card-text">Bien doux...</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="huile" class="tab-pane fade">
                    <h3>HUILES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/dinor.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">HUILE DINOR</h5>
                                <p class="card-text">Pour grillade et autre. Très raffiné</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/aya.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">HUILE AYA</h5>
                                      <p class="card-text">Pour grillade et autre. Très raffiné.</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/huileR.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">HUILE ROUGE</h5>
                                          <p class="card-text">Très bon et naturelle. Il vient tout droit du village..</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/Hcoco.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">HUILE DE COCO</h5>
                                    <p class="card-text">Pour multiples usages..</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/Holive.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">HUILE D'OLIVE</h5>
                                          <p class="card-text">Pour multiples usages..</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/lesieur.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">HUILE LESIEUR</h5>
                                              <p class="card-text">Très raffinée et légère...</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="farine" class="tab-pane fade">
                    <h3>FARINES</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/manioc.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">FARINE DE MANIOC</h5>
                                <p class="card-text">Pour placali, boullie etc...</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/gma.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">FARINE BOULANGERE</h5>
                                      <p class="card-text">Pour patisserie etc...</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/mais.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">FARINE DE MAIS</h5>
                                          <p class="card-text">Pour cabato, boullie etc...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/ble.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">FARINE DE BLE</h5>
                                    <p class="card-text">Pour boullie etc...</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/farineMil.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">FARINE DE MIL</h5>
                                          <p class="card-text">Pour boullie etc...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/farineRiz.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">FARINE DE RIZ</h5>
                                              <p class="card-text">Pour patisserie, boullie etc...</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
                <div id="fruit" class="tab-pane fade">
                    <h3>FRUITS</h3>
                    <div class="card-deck">
                            <div class="card">
                              <img class="card-img-top" src="../public/imagesJS/orange.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">ORANGE</h5>
                                <p class="card-text">Tout droit du village , très sucrée et naturelle...</p>
                                <button type="submit" class="btn btn-success">Acheter</button>
                              </div>
                            </div>
                            <div class="card">
                                    <img class="card-img-top" src="../public/imagesJS/bananeD.jpg" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">BANANE DOUCE</h5>
                                      <p class="card-text">Tout droit du village , très sucrée et naturelle...</p>
                                      <button type="submit" class="btn btn-success">Acheter</button>
                                    </div>
                                </div>
                            <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/citron.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">CITRON</h5>
                                          <p class="card-text">Tout droit du village , très naturelle...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                </div>
                        </div>
                    <div class="card-deck">
                                <div class="card">
                                  <img class="card-img-top" src="../public/imagesJS/papaye.jpg" alt="Card image cap">
                                  <div class="card-body">
                                    <h5 class="card-title">PAPAYE</h5>
                                    <p class="card-text">Tout droit du village , très sucrée et naturelle...</p>
                                    <button type="submit" class="btn btn-success">Acheter</button>
                                  </div>
                                </div>
                                <div class="card">
                                        <img class="card-img-top" src="../public/imagesJS/kiwi.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">KIWI</h5>
                                          <p class="card-text">Très sucrée et naturelle...</p>
                                          <button type="submit" class="btn btn-success">Acheter</button>
                                        </div>
                                    </div>
                                <div class="card">
                                            <img class="card-img-top" src="../public/imagesJS/mandarine.jpg" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">MANDARINE</h5>
                                              <p class="card-text">Tout droit du village , très sucrée et naturelle...</p>
                                              <button type="submit" class="btn btn-success">Acheter</button>
                                            </div>
                                    </div>
                        </div>
                </div>
              </div>
</body>
</html>